body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content: space-between;
}

* {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 0px 128px;
    margin: 0px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 8px;
    color: #e5e7eb;
    font-size: 18px;
}

.content{
    display: flex;
    flex-direction: column;
    flex:1 0 auto;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 16px;
}

.section {
    flex: 1 0 auto;
}

.one {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

#sec-one-text {
    flex:1;
    padding:0px 128px;
}

#sec-one-text button {
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.one .image-placeholder {
    background-color: hsl(0, 0%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height: 300px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.two ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap:32px;
}

.two li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    text-align: center;
    width:150px;
}

.two .image-placeholder {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10% 20%;
}

.three .quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.three .author {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
}

.call-to-action {
    background-color: #3882f6;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 5%;
    height: 60%;
    width: 60%;
    align-items: center;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.call-to-action button {
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    align-self: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-width: 3px;
    padding: 12px 24px;
}

.call-to-action h1 {
    font-size: 36px;
}

.call-to-action p {
    font-size: 24px;
}